.JockList-container {
  background-color: white;
  height: 80px;
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
  color: rgba(1, 0, 10, 0.822);
  font-weight: 600px;
  word-spacing: 7px;
  
  display: flex;
  align-items: center;
}

.jock {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
