.Rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  margin-left: 1.5rem;
  margin-right: 20px;
}

.Rating-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Rating-votes {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: 3px solid red;
  text-align: center;
  box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);
  font-size: x-large;
  font-weight: 900;
}

.fa-arrow-up,
.fa-arrow-down {
  margin: 0.1%;
  cursor: pointer;
  font-size: 1.5em;
}
